
    .services{
      background-color: white;
    }

    .contakts{
       background-color: white;

    }

    #photografer img{
      width: 80%;
      max-width: 300px;
    }

    #photografer li{
      padding-right: 1rem;
    }

    #self_text{
      font-size: 22px;
    }

    .lined-caption{
      display: flex;
    }

    .lined-caption>hr{
      border: 1px solid grey;
      width: 100%;      
      margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: auto;
      margin-top: auto;
    }

    .lined-caption>div{
      margin:auto; 
      white-space: nowrap;
    }



   .contakts .text1{
      text-indent: 2rem;
      text-align: justify;
      margin-top: 0;
      margin-bottom: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }

    ul.types{
      text-align: justify;
      margin-top: 0;
      padding-right: 30px;
    }

   .phone{
       word-break: keep-all;
   }

    .social{
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }

   .social a>img{
       width: 48px;
       height: 48px;
       margin-right: 3rem;
   }

  @media only screen and (max-width: 756px) {
    .viber_desctop{display: none;}
    .viber_mobile{display: block;}
    #self_text{
      font-size: 18px;
    }
    ul.types{
      padding-left: 2rem;
    }
  }

  
  @media only screen and (min-width: 756px) {
    .viber_desctop{display: inline;}
    .viber_mobile{display: none;}
  }

